<?xml version="1.0"?><CONFIG>	<SCREEN>		<OFFX>0</OFFX>		<OFFY>0</OFFY>		<FULLSCREEN>1</FULLSCREEN>		<TIMEOUT>10</TIMEOUT>	</SCREEN>	<PROMPTS>		<PROMPT id="snapPic" type="0" time="3"><h1>Look at the mirror and smile!</h1><p>You stupid kid,</p><p>you&#39;ll pay for what you did...</p><p>...with your life.</p></PROMPT>		<PROMPT id="drawDone" type="1" time="-1"><h1>Look in the mirror to see your work!</h1> <p>  You may keep applying makeup and click finish again to see changes.</p></PROMPT>		<PROMPT id="picSnapped" type="0" time="7"><h1>Your picture has been taken.</h1><p>You may now start painting your face, or touch the camera to take another picture.</p></PROMPT>		<PROMPT id="paintTip" type="0" time="7"><h2>Choose a color and a Brush to get started, touch undo if you make a mistake.</h2><p>Touch Finish to see your creation in the mirror.</p></PROMPT>		<PROMPT id="woot" type="0" time="3">Foobar, buddy</PROMPT>	</PROMPTS></CONFIG>